.home-header {
    height: 150vh;
    min-height: 150vh;
}
.background-image {
    background-image:url("austin.jpg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 170vh;
    max-height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home-title {
    color:rgb(191, 87, 0);
    font-size: 10vh;
    line-height: 15vh;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .home-title {
        font-size: 3.8vh;
    }
}

.tagline {
    font-size: 3vh;
    color:black;
    line-height: 5vh;
    animation-name: fadeIn;
    animation-duration: 4s;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    font-style: italic;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.text-container {
    background-color: white;
    width: 60vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    font-family: Verdana;
    display: inline-block;
    text-align: center;
    opacity: .90;
    margin-top: 40vh;
}