.body {
    margin-top: 8vh;
    background: #f0f2f5 !important;
    height: 100%;
    min-height: 100vh;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    padding: 15px;
    max-width: 1500px;
    margin: auto;
}

.title {
    text-align: center;
    padding: 15px;
}

.description {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.text-pink {
    color: #ff679b!important;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad!important;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

.about-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: 700;
}

.intro {
    padding:15px;
    font-size: 20px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.intro p {
    text-align:justify;
}

.pad {
    padding: 24px;
    background: white;
}

.medium {
    width: 200px;
    height: 200px;
}

.card-margin {
    margin: 28px;
}