body {
  margin-top:20px;
}

.search-row {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.ais-Hits-item {
  display: flex;
  text-align: left;
}

.list-item {
  padding-left: 2vw;
}

.search-columns{
  margin-bottom: 5px;
}

.query-style {
  font-size: 50px;
}

.ais-Highlight-highlighted {
  background-color: rgb(241, 152, 157);
}

.btn-primary {
  background-color: black;
  border-color: black;
  font-size: 20px;
}

.ais-SearchBox {
  margin-top: 80px;
}

.algolialogo {
  display:flex; 
  flex-direction:row;
  align-items: center;
  font-family: "Raleway";
  text-align: left;
  margin-left: 15px;
}

#search-mark {
  background-color: rgb(241, 152, 157);
}